%hw-center-elements {
    align-items: center;
    display: flex;
    justify-content: center;
}

%disable-select {
        -webkit-user-select: none;  
        -moz-user-select: none;    
        -ms-user-select: none;      
        user-select: none;
}